:root {
  --primary: #4051B5;
  --secondary: indigo;
  --background-color: var(--secondary);
  --text: var(--primary);
  --border: 1px solid #E1E6EB;
  --border-radius: 8px;
  --font-family: 'Montserrat', sans-serif;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}